params {
    
    /*
        Workflow details
    */

    version = v1.0.0-alpha

    /*
        Read Quality values:
    */
        // NanoFilt filtration
        minQVal         = 10
        headCrop        = 20
        tailCrop        = 20

    /*
        Read clustering (VSEARCH) values:
    */
        clusteringPerc  = .95
    
    /*
        Consensus sequence (Medaka) values:
    */
        medaka_model    = ''

    /*
        BLASTn reference path:
    */
        blastn_reference = '//'

    


}