params {
    
    /*
        Workflow details
    */
        version = '1.0.0-alpha'

    /*
        Read Quality (Porechop+NanoFilt) values:
    */
        minQVal         = 10
        headCrop        = 20
        tailCrop        = 20

    /*
        Read clustering (VSEARCH) values:
    */
        clusteringPerc  = .95
    
    /*
        Consensus sequence (Medaka) values:
    */
        medaka_model    = ''

    /*
        BLASTn reference path:
    */
        blastn_reference = '//'

}