params {
    
    /*
        Workflow details
    */
        version     = '1.0.0-alpha'
        projectDir  = "/home/phesketh/Documents/GitHub/HuGTiP_FUN-DIG"
        outDir      = null

    /*
        Conda environments
    */
        main_env    = "${params.projectDir}/envs/main-env.yml"
        main_R_env  = "${params.projectDir}/envs/main-R-env.yml"

    /*
        Read Quality (Porechop+NanoFilt) values:
    */
        minQVal     = 10
        headCrop    = 20
        tailCrop    = 20

    /*
        Read clustering (VSEARCH) values:
    */
        clusteringPerc  = .95
    
    /*
        Consensus sequence (Medaka) values:
    */
        medaka_model    = ''

    /*
        BLASTn reference path:
    */
        blastn_reference = '//'

}


profiles {
    conda_on {
            conda.enabled       = true
            conda.useMamba      = true
            conda.createTimeout = '1 h'
            conda.cacheDir      = "${projectDir}/nf-conda/cache/"
    }
}